<div [hidden]="userInfo.userId == 0">
  <h1>使用者資訊</h1>
  <hr>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{userInfo.userName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/user icon.jpg">
    <mat-card-content>
      <p>ID: {{userInfo.email}}</p>
    </mat-card-content>
    <mat-card-content>
      <p>Email: {{userInfo.email}}</p>
    </mat-card-content>
    <mat-card-actions>
      <mat-checkbox [(ngModel)]="userInfo.verified">Verified</mat-checkbox>
    </mat-card-actions>
  </mat-card>
</div>

<div [hidden]="userInfo.userId > 0">
  Loading
</div>
