<div [hidden]="submitted">
  <h1>新增使用者</h1>
  <form (ngSubmit)="onSubmit(formInstance)" #formInstance="ngForm">
    <label for="userName">UserName</label>
    <input type="text" id="userName" [(ngModel)]="userModel.userName" name="userName" required minlength="2"
      #userInput="ngModel">
    <br>
    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="userModel.email" name="email" required email #emailInput="ngModel">

    <div *ngIf="formInstance.invalid && formInstance.dirty">
      <p *ngIf="userInput.errors?.required" style="color: red;">
        使用者名稱為必填
      </p>
      <p *ngIf="userInput.errors?.minlength" style="color: red;">
        使用者名稱最少需要{{userInput.errors?.minlength.requiredLength}}字元
      </p>
      <p *ngIf="emailInput.errors?.required" style="color: red;">
        email 為必填
      </p>
      <p *ngIf="emailInput.errors?.email" style="color: red;">
        email 格式錯誤
      </p>
    </div>
    <button type="submit">新增</button>
  </form>
</div>


<div [hidden]="!submitted">
  <h1>新增使用者成功</h1>
</div>
