<h1>使用者列表</h1>
<hr>

<table border="1">
  <thead>
    <tr>
      <td>ID</td>
      <td>UserName</td>
      <td>Email</td>
      <td>Verified</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userListFromApi">
      <td>{{user.userId}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td>
        <ng-container [ngSwitch]="user.verified">
          <p *ngSwitchCase="1">已認證</p>
          <a *ngSwitchCase="0" href="#">前往認證</a>
          <p *ngSwitchDefault style="color: red;">BUG</p>
        </ng-container>
      </td>
      <td>
        <button *ngIf="user.verified == 1">編輯</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- <tr *ngFor="let user of userList">
      <td>{{user.userId}}</td>
      <td>{{user.userName}}</td>
      <td>{{user.email}}</td>
      <td [ngSwitch]="user.verified">
        <p *ngSwitchCase="1">已認證</p>
        <a *ngSwitchCase="0" href="#">前往認證</a>
        <p *ngSwitchDefault style="color: red;">BUG</p>
      </td>
      <td>
        <button *ngIf="user.verified === 1">編輯</button>
      </td>
    </tr> -->
